<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Mon application ASP.NET</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    
        <style>
            .boutonmenuprincipal {
                background-color: black;
                color: white;
                border: none;
                cursor: pointer;
                padding: 10px;
                margin-top: 10px;
                font-size: 15px;
            }

                .boutonmenuprincipal:hover {
                    background-color: black;
                }

            .dropdown {
                position: relative;
                display: inline-block;
            }

            .dropdown-child {
                display: none;
                background-color: dimgrey;
                min-width: 25px;
            }

                .dropdown-child a {
                    color: white;
                    padding: 10px;
                    text-decoration: none;
                    display: block;
                }

            .dropdown:hover .dropdown-child {
                display: block;
            }
        </style>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Gestionnaire de Vidéothèque", "Accueil", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Films", "Index", "Home")</li>
                    <li>@Html.ActionLink("Locations", "Index", "Location")</li>
                    <li>@Html.ActionLink("Clients", "Index", "Client")</li>
                    <li>@Html.ActionLink("Liste des exemplaires", "Index", "Exemplaire")</li>
                    <li>@Html.ActionLink("Factures", "Index", "Facture")</li>
                    <li>@Html.ActionLink("Tarifs", "Index", "Tarif")</li>
                    <li>@Html.ActionLink("À propos de", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                    <li>
                        <div class="dropdown">
                            <button class="boutonmenuprincipal">Rechercher</button>
                            <div class="dropdown-child">
                                @Html.ActionLink("Nom", "SearchByName", "Home")
                                @Html.ActionLink("Catégorie", "SearchByCategory", "Home")
                                @Html.ActionLink("Réalisateur", "SearchByRealisator", "Home")
                                @Html.ActionLink("Date", "SearchByDate", "Home")
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Gestionnaire de vidéothèque</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
