@model GestionnaireVideothequeApp.Models.EXEMPLAIRE

@{
    ViewBag.Title = "Delete";
}

<h2>Supprimer l'exemplaire</h2>

<h3>Êtes-vous sûr(e) de vouloir supprimer cet exemplaire ?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.SUPPORT)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SUPPORT)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DATEACQUISITION)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DATEACQUISITION)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DISPONIBILITE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DISPONIBILITE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ETATEXEMPLAIRE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ETATEXEMPLAIRE)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Retour à la liste d'exemplaires", "Index")
        </div>
    }
</div>
