@model IEnumerable<GestionnaireVideothequeApp.Models.EXEMPLAIRE>

@{
    ViewBag.Title = "Index";
}

<h2>Exemplaires</h2>

<p>
    @Html.ActionLink("Ajouter un nouvel exemplaire", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.EXEMPLAIREID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SUPPORT)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DATEACQUISITION)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DISPONIBILITE) (coché = indisponible)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ETATEXEMPLAIRE)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.EXEMPLAIREID)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.SUPPORT)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.DATEACQUISITION)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.DISPONIBILITE)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.ETATEXEMPLAIRE)
    </td>
    <td>
        @Html.ActionLink("Editer", "Edit", new { id = item.EXEMPLAIREID }) |
        @Html.ActionLink("Détails", "Details", new { id = item.EXEMPLAIREID }) |
        @Html.ActionLink("Supprimer", "Delete", new { id = item.EXEMPLAIREID })
    </td>
</tr>
}

</table>
