@model IEnumerable<GestionnaireVideothequeApp.Models.FILM>

@{
    ViewBag.Title = "Index";
}

<h2>Liste des films de la vidéothèque</h2>

<p>
    @Html.ActionLink("Ajouter un nouveau film", "Create") | @Html.ActionLink("Rechercher", "Search", "Home")
</p>
<table class="table">
    <tr>
        <th>
            Nom 
        </th>
        <th>
            Catégorie 
        </th>
        <th>
            Réalisateur 
        </th>
        <th>
            Date de sortie 
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.NOMFILM)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CATEGORIE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.REALISATEUR)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DATESORTIE)
        </td>
        <td> <!--NE PAS MODIFIER-->
            @Html.ActionLink("Editer", "Edit", new { id=item.FILMID }) |
            @Html.ActionLink("Détails", "Details", new { id=item.FILMID }) |
            @Html.ActionLink("Supprimer", "Delete", new { id=item.FILMID })
        </td>
    </tr>
}

</table>
