@model IEnumerable<GestionnaireVideothequeApp.Models.FILM>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Ajouter un nouveau film", "Ajouter")
</p>
<table class="table">
    <tr>
        <th>
            Nom
        </th>
        <th>
            Catégorie
        </th>
        <th>
            Réalisateur
        </th>
        <th>
            Date de sortie
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.NOMFILM)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CATEGORIE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.REALISATEUR)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DATESORTIE)
        </td>
        <td>
            @Html.ActionLink("Editer", "Editer", new { id=item.FILMID }) |
            @Html.ActionLink("Détails", "Détails", new { id=item.FILMID }) |
            @Html.ActionLink("Supprimer", "Supprimer", new { id=item.FILMID })
        </td>
    </tr>
}

</table>
