@model GestionnaireVideothequeApp.Models.LOCATION

@{
    ViewBag.Title = "Delete";
}

<h2>Supprimer cette location</h2>

<h3>Êtes-vous sûr(e) de vouloir supprimer cette location ?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.LOCATIONID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LOCATIONID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DATEDEBUT)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DATEDEBUT)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DATEFIN)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DATEFIN)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DATERETOUREFF)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DATERETOUREFF)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MONTANT)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MONTANT)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Retour à la liste des locations", "Index")
        </div>
    }
</div>
