@model GestionnaireVideothequeApp.Models.LOCATION

@{
    ViewBag.Title = "Details";
}

<h2>Détails</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.LOCATIONID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LOCATIONID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DATEDEBUT)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DATEDEBUT)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DATEFIN)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DATEFIN)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DATERETOUREFF)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DATERETOUREFF)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MONTANT)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MONTANT)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editer", "Edit", new { id = Model.LOCATIONID }) |
    @Html.ActionLink("Retour à la liste des locations", "Index")
</p>
