@model IEnumerable<GestionnaireVideothequeApp.Models.LOCATION>

@{
    ViewBag.Title = "Index";
}

<h2>Locations</h2>

<br/>

<p>
    @Html.ActionLink("Ajouter une nouvelle location", "Create", "Location") | @Html.ActionLink("Voir les locations en cours", "LocationEnCours", "Location")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.LOCATIONID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DATEDEBUT)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DATEFIN)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DATERETOUREFF)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MONTANT)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.LOCATIONID)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.DATEDEBUT)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.DATEFIN)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.DATERETOUREFF)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.MONTANT)
    </td>
    <td>
        @Html.ActionLink("Editer", "Edit", new { id = item.LOCATIONID }) |
        @Html.ActionLink("Détails", "Details", new { id = item.LOCATIONID }) |
        @Html.ActionLink("Supprimer", "Delete", new { id = item.LOCATIONID })
    </td>
</tr>
}

</table>
