@model GestionnaireVideothequeApp.Models.FACTURE

@{
    ViewBag.Title = "Details";
}

<h2>Détails</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FACTUREID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FACTUREID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DATEFACTURE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DATEFACTURE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MONTANT)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MONTANT)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editer", "Edit", new { id = Model.FACTUREID }) |
    @Html.ActionLink("Retour à la liste des factures", "Index")
</p>
