@model IEnumerable<GestionnaireVideothequeApp.Models.FACTURE>

@{
    ViewBag.Title = "Index";
}

<h2>Factures</h2>
<p>
    @Html.ActionLink("Créer une facture", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FACTUREID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DATEFACTURE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MONTANT)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.FACTUREID)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.DATEFACTURE)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.MONTANT)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Client.CLIENTID)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Location.LOCATIONID)
    </td>
    <td>
        @Html.ActionLink("Editer", "Edit", new { id = item.FACTUREID }) |
        @Html.ActionLink("Détails", "Details", new { id = item.FACTUREID }) |
        @Html.ActionLink("Supprimer", "Delete", new { id = item.FACTUREID })
    </td>
</tr>
}

</table>
