@model GestionnaireVideothequeApp.Models.CLIENT

@{
    ViewBag.Title = "Delete";
}

<h2>Supprimer le client</h2>

<h3>Êtes-vous sûr(e) de vouloir supprimer ce client de la base de données ?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NOM)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NOM)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PRENOM)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PRENOM)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DATENAISSANCE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DATENAISSANCE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NUMEROTEL)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NUMEROTEL)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ADRESSE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ADRESSE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MAIL)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MAIL)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Retour à la liste des clients", "Index")
        </div>
    }
</div>
