@model GestionnaireVideothequeApp.Models.CLIENT

@{
    ViewBag.Title = "Details";
}

<h2>Détails</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NOM)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NOM)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PRENOM)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PRENOM)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DATENAISSANCE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DATENAISSANCE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NUMEROTEL)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NUMEROTEL)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ADRESSE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ADRESSE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MAIL)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MAIL)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editer", "Edit", new { id = Model.CLIENTID }) |
    @Html.ActionLink("Retour à la liste des clients", "Index")
</p>
