@model GestionnaireVideothequeApp.Models.TARIF

@{
    ViewBag.Title = "Delete";
}

<h2>Supprimer ce tarif</h2>

<h3>Êtes-vous sûr(e) de vouloir supprimer ce tarif ?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TARIFID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TARIFID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NOMTARIF)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NOMTARIF)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SUPPORT)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SUPPORT)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TARIFJOURNALIER)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TARIFJOURNALIER)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Retour à la liste des tarifs", "Index")
        </div>
    }
</div>
