@model GestionnaireVideothequeApp.Models.TARIF

@{
    ViewBag.Title = "Details";
}

<h2>Détails</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TARIFID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TARIFID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NOMTARIF)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NOMTARIF)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SUPPORT)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SUPPORT)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TARIFJOURNALIER)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TARIFJOURNALIER)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editer", "Edit", new { id = Model.TARIFID }) |
    @Html.ActionLink("Retour à la liste des tarifs", "Index")
</p>
